<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# <a href="./">home</a> <a href="about">about</a><a href="contact">contact</a> %>
    <%= link_to "Home", root_path %>
    <%= link_to "Know more about us", about_path %>
    <%= link_to "Contact", contact_path %>
    <%= link_to "Coach", answer_path %>
    <%= yield %>
  </body>
</html>
